@import url('Components/fonts/abused-7413446/stylesheet.css');


.flex{
	display:flex;
	gap: var(--gap, 1rem);
}


.primary-hello{
	align-items: center;
	justify-content: center;
	margin-inline: 5vw;
	
	
	/* background: red; */
}

.hello-Image{
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 26px;
	align-content: center;

}

.hi-Image{
	height: auto;
	max-width: 100%;
}



.hi-message{
	font-family: "Abused";
	font-size: 26pt;
}


.thankyou-message{
	font-family: "Basier Circle";
	font-size: 17pt;
	padding-right: 10%;
	
}
/* Sign Up button */
.sign-up{
	
	align-items: center;
	justify-content: left;
}

.signups{
	background-color: #3897D3;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 8px;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.sign{
	font-family: 'Basier Circle';
	font-size: 20pt;
	margin-inline: 40px;
	text-align: center;

	text-decoration: none;
	color: white
}


.welcome-text{
	width: 50%;
	padding-inline:10%;
}


@media(max-width: 45em){
	.primary-hello{
		flex-direction: column;
		
		align-items:baseline;
		

		
	}
	
	.hi-message{
		font-size: 26pt;
		padding-right: 0;
		
	}
	.welcome-text{
		padding: 5%;
		width: 100%;
		
	}
	.thankyou-message{
		font-size: 16pt;
	}
}

/* Below this is the css for the interest box.  */
.interest{
	align-items: justify;
	justify-content:space-between;
	margin-inline: 5%;
	margin-bottom: 0;

}
.interests{
	flex-direction: column;
	align-items: center;
}

.books-you-might-like,.quotes-that-motivates-me,.journal{
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 19px;
	background: white;
	width: 33.33%;
	max-width: 500;
	padding-inline: 5%;
}

.icon-for-interest{
	font-size: 40pt;
	padding: 0;
	height: auto;
}

.title{
	font-family: "Basier Circle";
	padding-inline: 5%;
}

#short-note{
	font-family: 'Basier Circle';
}

.interest-link{
	text-decoration: none;
	color: black;
}


@media(max-width: 45em){
	.interest{
		flex-direction: column;
		align-items: center;
		margin-inline: 8%;	
		
		
	}

	.books-you-might-like,.quotes-that-motivates-me,.journal{
		width: 100%;
		margin-inline: 20%;
	}
}
/* Footer CSS */
.footer{
	align-items: left;
	justify-content: space-between;
	margin-top:5%;
	background-color: black;
	font-family: 'Basier Circle';
	color: whitesmoke;
	padding: 30px;
	position: relative;
	bottom: 0;
	width: 100%;
	
	
}

.footer-description{
	text-align: center;
}
.github{
	text-decoration: none;
	color: #3897D3;
}
.socialmedia {
	margin-inline: 10px;
}

.socialmedia a{
	text-decoration: none;
	padding-inline: 20px;
	font-size: 24pt;
	color: whitesmoke;
}

@media(max-width:45em){
	.footer{
		flex-direction: column;
		--gap:2em;
		align-items: center;
		
	}
	.socialmedia a{
		font-size: 20pt;
	}
}




html,body{
	overflow-x: hidden;
	background: #FAFAFA;
	
}